In [1]:
import numpy as np
import random as rn
import pandas as pd
import math as mt

In [2]:
def newDataSet():
    x = [14,15,14,16,18,20]
    y = [28,29,30,35,28,43]
    dt = pd.DataFrame({'X': x, 'Y': y})
    return dt

In [3]:
data = newDataSet()
data

    X   Y
0  14  28
1  15  29
2  14  30
3  16  35
4  18  28
5  20  43

In [4]:
p1 = np.array([0,0])
p2 = np.array([50,50])
p1, p2

(array([0, 0]), array([50, 50]))

In [5]:
def calculoDistancias(dt):
    v = [None]*(dt.X.size)
    d1 = np.sqrt(np.power((dt.X[0:]-p1[0]),2)+np.power((dt.Y[0:]-p1[1]),2))
    d2 = np.sqrt(np.power((dt.X[0:]-p2[0]),2)+np.power((dt.Y[0:]-p2[1]),2))
    row = np.where(d1<=d2, 1, 2)
    v[0] = row
    dt['D1'] = d1
    dt['D2'] = d2
    dt['V'] = v[0]
    return dt

In [6]:
dist = calculoDistancias(data)
dist

    X   Y         D1         D2  V
0  14  28  31.304952  42.190046  1
1  15  29  32.649655  40.816663  1
2  14  30  33.105891  41.182521  1
3  16  35  38.483763  37.161808  2
4  18  28  33.286634  38.832976  1
5  20  43  47.423623  30.805844  2

In [10]:
def actualizaPuntos(dt, p1, p2):
    sx1 = 0
    sy1 = 0
    sx2 = 0
    sy2 = 0
    c1 = 0
    c2 = 0
    for i in range(dt.X.size):
        if(dt.V[i] == 1):
            sx1 += dt.X[i] 
            sy1 += dt.Y[i] 
            c1 += 1
        else:
            sx2 += dt.X[i] 
            sy2 += dt.Y[i] 
            c2 += 1
    p1[0] = sx1/c1
    p1[1] = sy1/c1
    p2[0] = sx2/c2
    p2[1] = sy2/c2
    puntos = {"P1": (p1), "P2": (p2)}
    newPuntos = pd.DataFrame(puntos)
    return newPuntos

In [11]:
actualizaPuntos(dist, p1, p2)

   P1  P2
0  15  18
1  28  39

In [15]:
def kmeans(dt, p1, p2):
    while True:
        x1 = p1[0]
        y1 =p1[1]
        x2 = p2[0]
        y2 = p2[1]
        calD = calculoDistancias(dt)
        new = actualizaPuntos(calD, p1, p2)
        p1 = new.P1
        p2 = new.P2
        if(x1 == p1[0] and y1 == p1[1] and x2 == p2[0] and y2 == p2[1]):
            break
    return new

In [16]:
kmeans(data, p1, p2)

   P1  P2
0  15  18
1  28  39